<?xml version="1.0"?>
<config>
    <modules>
        <SinanInfo_Vehicles>
            <version>1.0.0.0</version>
        </SinanInfo_Vehicles>
    </modules>
	<frontend>
		<routers>
			<vehicles>
				<use>standard</use>
				<args>
					<module>SinanInfo_Vehicles</module>
					<frontName>vehicles</frontName>
				</args>
			</vehicles>
		</routers>
		<layout>
			<updates>
				<vehicles>
					<file>vehicles.xml</file>
				</vehicles>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<blocks>
			<vehicles>
				<class>SinanInfo_Vehicles_Block</class>
			</vehicles>
		</blocks>
	 </global>
</config>
